body{
	margin: 0;
	background-color: #e84118;
}
*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
@-webkit-keyframes spin {
  0% {-webkit-transform: rotateY(0deg) rotateX(-10deg);transform: rotateY(0deg) rotateX(-10deg)}
  50% {-webkit-transform: rotateY(180deg) rotateX(-10deg);transform: rotateY(180deg) rotateX(-10deg)}
  100% {-webkit-transform: rotateY(360deg) rotateX(-10deg);transform: rotateY(360deg) rotateX(-10deg)}
}
@keyframes spin {
  0% {-webkit-transform: rotateY(0deg) rotateX(-10deg);transform: rotateY(0deg) rotateX(-10deg)}
  50% {-webkit-transform: rotateY(180deg) rotateX(-10deg);transform: rotateY(180deg) rotateX(-10deg)}
  100% {-webkit-transform: rotateY(360deg) rotateX(-10deg);transform: rotateY(360deg) rotateX(-10deg)}
}
#backgroundText{
	color: #fff;
	font-size: 50px;
	font-family: Anton,arial;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	width: 100%;
	text-align: center;
}
/*http://leaverou.github.io/prefixfree/*/ 
#shapeContainer {
  -webkit-perspective: 800px;
          perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
}
.face {
	position: absolute;
}
.ft img{
	display: block;
	width: 90%;
  	height: 90%;
  	position: absolute;
  	top: 5%;
  	left: 5%;
  	border: 1px solid black;
}
.tp img{
	display: block;
	width: 100%;
  	height: 100%;
}

.face h1{
	display: inline-block;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%) rotateX(180deg);
	        transform: translateX(-50%) translateY(-50%) rotateX(180deg);
	font-family: arial;
	color: #f5f6fa;
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
}
.face{
  overflow: hidden;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: 100% 100%!important;
  background-position: center;
  border: 1px solid black;
  background-color: #2f3640;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  -webkit-transform: rotateY(-90deg) translateX(-50%);
          transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  -webkit-transform: rotateY(90deg) translateX(-50%);
          transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  -webkit-transform: rotateX(90deg) translateY(-50%);
          transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  -webkit-transform: rotateX(-90deg) translateY(-50%);
          transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .cub-1 styles */
.cub-1 {
  -webkit-transform:translate3D(0em, 3em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(0em, 3em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:12em;
  height:0.5em;
  margin:-0.25em 0 0 -6em;
}
.cub-1 .ft {
  -webkit-transform:translateZ(4em);
          transform:translateZ(4em);
}
.cub-1 .bk {
  -webkit-transform:translateZ(-4em) rotateY(180deg);
          transform:translateZ(-4em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt {
  width:8em;
  height:0.5em;
}
.cub-1 .tp, .cub-1 .bm {
  width:12em;
  height:8em;
}
/* .cub-2 styles */
.cub-2 {
  -webkit-transform:translate3D(0em, -1em, -4.5em) rotateX(10deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(0em, -1em, -4.5em) rotateX(10deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:12em;
  height:7em;
  margin:-3.5em 0 0 -6em;
}
.cub-2 .ft {
  -webkit-transform:translateZ(0.25em);
          transform:translateZ(0.25em);
}
.cub-2 .bk {
  -webkit-transform:translateZ(-0.25em) rotateY(180deg);
          transform:translateZ(-0.25em) rotateY(180deg);
}
.cub-2 .rt, .cub-2 .lt {
  width:0.5em;
  height:7em;
}
.cub-2 .tp, .cub-2 .bm {
  width:12em;
  height:0.5em;
}